.sec-animation{
    height: auto;
    display: flex;
    width: 100%;
    background-color: #002c66;
    padding: 20px 0;
}

.animation-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 80%;
    border-radius: 20px;
    background-color: #001634;
    margin-left: 20px;
}

.animation-cont .phage-cont{
    width: 100%;
    height: 70%;
}

.animation-cont .animation-controls #btn-action{
    width: 50px;
    height: 50px;
    background-color: #00bf13;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    position: absolute;
}

.animation-cont .animation-controls #btn-action:hover{
    background-color: white;
    color: #00bf13;
}

.animation-controls #help{
    position: absolute;
    z-index: 10;
    color: white;
    top: 110px;
    right: 380px;
    cursor: pointer;
}

.animation-controls .modal-help{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    top: 110px;
    right: 440px;
    display: none;
}

.animation-controls #help:hover + .modal-help{
    display: block;
}

.animation-info{
    color: white;
    margin: 0 30px;
    border-radius: 20px;
    background-color: #001634;
    height: 95vh;
    width: 30%;    
}

.animation-info h1{
    font-size: 20px;
    margin: 20px 30px;
}

.animation-info p{
    font-size: 15px;
    margin: 20px 30px;
}

.animation-info p b{
    color: #00bf13;
}

@media screen and (max-width: 600px){
    .animation-cont{
        width: 90%;
        margin: 0;
        margin-left: 5%;
    }
}