header{
    background-color: #002c66;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
}

header h1{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

header img{
    width: auto;
    height: 40px;
    margin: 20px 30px;
}

header nav{
    display: flex;
    justify-content: right;
    width: 100%;
    font-size: 15px;
}

header nav ul{
    display: flex;
    width: 40%;
    height: 100%;
}

header nav ul a{
    text-decoration: none;
    color: white;
}

header nav ul li{
    list-style: none;
    background-color: #00bf13;
    width: 135px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-left: 2px solid #002c66;
}

header nav ul .active{
    background-color: white;
    color: #002c66;
    font-weight: bold;
    cursor: default;
}

header nav ul li:hover{
    background-color: white;
    color: #002c66;
    font-weight: bold;
}

header nav ul a + a{
    margin-left: -24px;
}


  
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    header:has(nav) h1{
        display: none;
    }

    header:not(:has(nav)) h1{
        display: block;
    }

    header nav{
        justify-content: left;
    }

    header nav ul li{
        width: 90px;
        clip-path: none;
        height: 30px;
    }

    header nav{
        font-size: 15px;
    }

    header:has(nav) img{
        width: auto;
        height: 40px;
        margin: 20px 0 20px 20px;
    }

    header:not(:has(nav)) img{
        width: auto;
        height: 40px;
        margin: 20px;
    }

    header nav ul a + a{
        margin-left: 0;
    }
}